<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
</head>

<body>
    <div class="cont">
        <div class="slide-in">
            <div class="linha">
                <img src="../img/BOAS.png" alt="" width="80px">
            </div>
            <div class="linha">
                <h6>É divertido e ajudamos você a ficar motivado com recompensas pelo seu empenho em ficar "De Boas"</h6>
            </div>
            <div class="linha">
                <button class="btn shadow-lg" onclick="muda()">Próximo</button>
            </div>
        </div>
    </div>
    <script>
        window.onload = ()=>{
            const slide = document.querySelector('.slide-in')
            slide.classList.add('active')
        }
        function muda(){
            window.location.href = 'proximo3.html'
        }
    </script>
</body>
</html>